<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>

<hr>

<% @operations.each do |operation| %>
  <h3><%= operation.name %></h3>
  <p>Amount: <%= operation.amount %></p>
<% end %>

<hr>

<%= link_to "New operation", new_group_operation_path(@group) %>